@tailwind base;
@tailwind components;
@tailwind utilities;


/* https://fonts.google.com/specimen/Lora */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Roboto:wght@700&display=swap');


/* Tailwind 設定 */
@layer base {
  body {
    font-family: "Lora";
  }

  a {
    text-decoration: none;
  }
}

/* Heroの棒グラフ */
@media screen(lg){
  .bg-hero {
      width: 2000px;
      height: 200px;
      left: 30%;
      @apply absolute rounded-l-full top-40 bg-secondBrawn;
  }
}

@media screen(xl){
  .bg-hero {
      width: 2000px;
      height: 200px;
      left: 30%;
      @apply absolute rounded-l-full top-80 bg-secondBrawn;
  }
}